.button {
  padding: 11px 25px 13px;
  @extend %font-primary;
  @include font(1.6rem, 2.2rem, 600);
  border-radius: 4px;
  cursor: pointer;
  @extend %transition;

  &_bordered {
    color: $color-button;
    background-color: $color-light;
    border: 1px solid $color-border;
    &:hover {
      background-color: $color-hovered;
      border: 1px solid $color-hovered;
    }
  }

  &_colored {
    color: $color-light;
    background-color: $color-primary;
    border: none;
    &:hover {
      background-color: $color-additional;
    }
  }
}

.link-button {
  color: $color-primary;
  @extend %font-add;
  @include font(1.6rem, 2.4rem, 600);
  display: inline-flex;
  align-items: center;
  gap: 9px;
}
